body {
    max-width: 100%;
    background-image: url(front-page.jpg);
    background-size: cover;
}

@media only screen and (max-width: 950px) {
    #header {
        text-align: center;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    #right,
    #left {
        overflow: scroll;
        width: 100%;

    }

    #activities-table,
    #totals {
        overflow: scroll;
    }

    img {
        display: none;
    }
}

#header {
    color: white;
    margin-left: 1%;
    margin: 0;
    width: 100%;
    font-size: large;
    font-weight: bolder;
}

.content {
    display: flex;
    margin-top: 0;
    height: 100vh;
    margin: 1%;
}

#right {
    margin: 1%;
    background-color: #EADDCA;
    width: 50%;
    padding: 1%;
    text-align: center;

}

#left {
    margin: 1%;
    width: 50%;

}

img {
    max-width: 100%;
    ;
    max-height: 100%;

}

#logoff {
    font-size: 15px;
    margin: 0 auto;
    display: block;


}

#activities,
#edit-activity,
.activitiesTables {
    background-color: white;
    padding: 15px;
}

.activitiesTables {
    border: black;
    border-style: solid;
    border-width: 5px;
}

#activities-table {
    padding: 10px;
    table-layout: fixed;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


#totals {
    border: 1px solid black;
    width: 100%;
    margin: 20px auto;
    table-layout: fixed;

}

#totals-table {
    table-layout: fixed;
    width: 100%;
}

th {
    width: 25%;
    padding: 15px;
    text-align: center;

}